<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% load static %}
    <script src="{% static 'js/loadHeader.js' %}?{% now 'U' %}"></script>
    <title>Werewolf</title>
</head>
<body>
    <div class="container">
        <input id="gameIDInput" type="hidden" value="{{game.id}}"> <!--This is to send partial htmls the game id-->
        <input id="hunterPrevPhase" type="hidden" value="{{gamePhase}}"> <!-- This is to send partial htmls the prev phase for hunter rendering-->
        <div id="header"></div>
        <div class="row text-center">
            <h1 class="col-md-12">
                {% if game.started == False %}
                    {% if user == game.host %}
                        Host A Game
                    {% else %}
                        Pre-Game Lobby
                    {% endif %}
                {% elif game.ended == False %}
                    Game In Progress
                {% else %}
                    Completed Game
                {% endif %}
            </h1>
        </div>
        {% if game.started == True and game.ended == False %}
            <div class="row text-center">
                <h5 class="col-md-12">
                    Turn Number: {{game.current_turn}} | Phase: {{game.current_phase}}
                </h5>
            </div>
        {% endif %}
        <div class="row">
            <div class="card-deck col-md-12">
                <div class="card col-md-7">
                    <div class="card-header row">
                        <h4>Game Options</h4>
                    </div>
                    <div class="card-body">
                        {% if user == game.host %} <!--Page for game's host-->
                            {% if game.started == False %} <!--Show configuration screen because at pre-game lobby-->
                                <form action="/home/game/{{game.id}}/update" class="form-horizontal" method="post">
                                    {% csrf_token %}
                                    <div class="form-group row align-items-center">
                                        <label for="max_players" class="control-label col-md-8">Maximum Players</label>
                                        <input type="number" name="max_players" class="form-control col-md-4" value={{game.max_players}} required>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label for="num_werewolves" class="control-label col-md-8"># of Werewolves (including Accursed One)</label>
                                        <input type="number" name="num_werewolves" class="form-control col-md-4" value={{game.num_werewolves}} required>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label for="seer" class="control-label col-md-5">Seer</label>
                                        <input type="hidden" name="seer" value=0>
                                        <input type="checkbox" value=1 name="seer" class="form-control col-md-1" {% if game.has_seer %}checked{% endif %}>
                                        <label for="witch" class="control-label col-md-5">Witch</label>
                                        <input type="hidden" name="witch" value=0>
                                        <input type="checkbox" value=1 name="witch" class="form-control col-md-1" {% if game.has_witch %}checked{% endif %}>
                                    </div>
                                    <div class="form-group align-items-center row">
                                        <label for="accursed_one" class="control-label col-md-5">Accursed One</label>
                                        <input type="hidden" name="accursed_one" value=0>
                                        <input type="checkbox" value=1 name="accursed_one" class="form-control col-md-1" {% if game.has_accursed_one %}checked{% endif %}>
                                        <label for="cupid" class="control-label col-md-5">Cupid (and lovers)</label>
                                        <input type="hidden" name="cupid" value=0>
                                        <input type="checkbox" value=1 name="cupid" class="form-control col-md-1" {% if game.has_cupid %}checked{% endif %}>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label for="defender" class="control-label col-md-5">Defender</label>
                                        <input type="hidden" name="defender" value=0>
                                        <input type="checkbox" value=1 name="defender" class="form-control col-md-1" {% if game.has_defender %}checked{% endif %}>
                                        <label for="hunter" class="control-label col-md-5">Hunter</label>
                                        <input type="hidden" name="hunter" value=0>
                                        <input type="checkbox" value=1 name="hunter" class="form-control col-md-1" {% if game.has_hunter %}checked{% endif %}>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label for="twins" class="control-label col-md-5">Twins</label>
                                        <input type="hidden" name="twins" value=0>
                                        <input type="checkbox" value=1 name="twins" class="form-control col-md-1" {% if game.has_twins %}checked{% endif %}>
                                        <label for="village_idiot" class="control-label col-md-5">Village Idiot</label>
                                        <input type="hidden" name="village_idiot" value=0>
                                        <input type="checkbox" value=1 name="village_idiot" class="form-control col-md-1" {% if game.has_village_idiot %}checked{% endif %}>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label for="wild_child" class="control-label col-md-5">Wild Child (and Role Model)</label>
                                        <input type="hidden" name="wild_child" value=0>
                                        <input type="checkbox" value=1 name="wild_child" class="form-control col-md-1" {% if game.has_wild_child %}checked{% endif %}>
                                        <label for="little_child" class="control-label col-md-5">Little Child</label>
                                        <input type="hidden" name="little_child" value=0>
                                        <input type="checkbox" value=1 name="little_child" class="form-control col-md-1" {% if game.has_little_child %}checked{% endif %}>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label for="rusty_knight" class="control-label col-md-5">Knight with the Rusty Sword</label>
                                        <input type="hidden" name="rusty_knight" value=0>
                                        <input type="checkbox" value=1 name="rusty_knight" class="form-control col-md-1" {% if game.has_rusty_knight %}checked{% endif %}>
                                        <label for="elder" class="control-label col-md-5">Elder</label>
                                        <input type="hidden" name="elder" value=0>
                                        <input type="checkbox" value=1 name="elder" class="form-control col-md-1" {% if game.has_elder %}checked{% endif %}>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label for="angel" class="control-label col-md-5">Angel</label>
                                        <input type="hidden" name="angel" value=0>
                                        <input type="checkbox" value=1 name="angel" class="form-control col-md-1" {% if game.has_angel %}checked{% endif %}>
                                        <label for="gypsy" class="control-label col-md-5">Gypsy</label>
                                        <input type="hidden" name="gypsy" value=0>
                                        <input type="checkbox" value=1 name="gypsy" class="form-control col-md-1" {% if game.has_gypsy %}checked{% endif %}>
                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label for="allow_spectators" class="control-label col-md-5">Allow Spectators</label>
                                        <input type="hidden" name="allow_spectators" value=0>
                                        <input type="checkbox" value=1 name="allow_spectators" class="form-control col-md-1" {% if game.allow_spectators %}checked{% endif %}>
                                    </div>
                                    <div class="form-group row align-items-center justify-content-end">
                                        <a href="/home/game/{{game.id}}/addFakeUsers" class="btn btn-warning btn-sm mr-3">Add Fake Users</a> <!--Populates game with fake users, comment this out for production-->
                                        <button type="submit" name="submitAction" value="update" class="btn btn-primary mr-3">Apply Changes</button>
                                        <a href="#" class="btn btn-secondary mr-3">Suggest Values</a>
                                        <button type="submit" name="submitAction" value="start" class="btn btn-danger">Start Game</button>
                                    </div>
                                    {% if messages %}
                                    <div class="row">
                                        <ul class="messages"> <!--Error Messages for host-->
                                            {% for message in messages %}
                                                <li>{{message}}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endif %}
                                </form>
                            {% else %} <!--If game has started-->
                                {% if game.current_phase == "Night" %}
                                    <div id="nightPhaseDiv"></div>
                                {% elif game.current_phase == "Day" %} <!--phase == "Day"-->
                                    <div id="dayPhaseDiv"></div>
                                {% elif game.current_phase == "Hunter" %} <!--Phase == "Hunter"-->
                                    <div id="hunterPhaseDiv"></div>
                                {% endif %}
                            {% endif %} <!--End pre-game lobby config card for host-->
                        {% else %} <!--Show players game page-->
                            {% if game.started == False %} <!--players pre-game lobby current settings page-->
                                <div class="row align-items-center">
                                    <div class="col-md-8">Maximum Players</div>
                                    <div class="col-md-4">{{game.max_players}}</div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-md-8"># of Werewolves (including Accursed One)</div>
                                    <div class="col-md-4">{{game.num_werewolves}}</div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-md-5">
                                        Seer
                                    </div>
                                    <div class="col-md-1">
                                        {{game.has_seer}}
                                    </div>
                                    <div class="col-md-5">
                                        Witch
                                    </div>
                                    <div class="col-md-1">
                                        {{game.has_witch}}
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-md-5">
                                        Accursed One
                                    </div>
                                    <div class="col-md-1">
                                        {{game.has_accursed_one}}
                                    </div>
                                    <div class="col-md-5">
                                        Cupid (and lovers)
                                    </div>
                                    <div class="col-md-1">
                                        {{game.has_cupid}}
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-md-5">
                                        Defender
                                    </div>
                                    <div class="col-md-1">
                                        {{game.has_defender}}
                                    </div>
                                    <div class="col-md-5">
                                        Hunter
                                    </div>
                                    <div class="col-md-1">
                                        {{game.has_hunter}}
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-md-5">
                                        Twins
                                    </div>
                                    <div class="col-md-1">
                                        {{game.has_twins}}
                                    </div>
                                    <div class="col-md-5">
                                        Village Idiot
                                    </div>
                                    <div class="col-md-1">
                                        {{game.has_village_idiot}}
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-md-5">
                                        Wild Child
                                    </div>
                                    <div class="col-md-1">
                                        {{game.has_wild_child}}
                                    </div>
                                    <div class="col-md-5">
                                        Little Child
                                    </div>
                                    <div class="col-md-1">
                                        {{game.has_little_child}}
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-md-5">
                                        Knight with the Rusty Sword
                                    </div>
                                    <div class="col-md-1">
                                        {{game.has_rusty_knight}}
                                    </div>
                                    <div class="col-md-5">
                                        Elder
                                    </div>
                                    <div class="col-md-1">
                                        {{game.has_elder}}
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-md-5">
                                        Angel
                                    </div>
                                    <div class="col-md-1">
                                        {{game.has_angel}}
                                    </div>
                                    <div class="col-md-5">
                                        Gypsy
                                    </div>
                                    <div class="col-md-1">
                                        {{game.has_gypsy}}
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="col-md-5">
                                        Allow Spectators
                                    </div>
                                    <div class="col-md-1">
                                        {{game.allow_spectators}}
                                    </div>
                                </div>
                            {% else %} <!--End players pre-game lobby current settings page-->
                            <!--Start in-game players info page-->
                                <div id="playerInfoDiv"></div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="card col-md-5">
                    <div class="card-header row">
                        <h4>Connected Players: {{game.players.all|length|add:"-1"}}</h4>
                    </div>
                    <div class="card-body">
                        {% if game.started == False %} <!--Pre-Game Lobby Player List-->
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Username</th>
                                        <th scope="col">Full Name</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for player in game.players.all %}
                                        {% if player != game.host %}
                                            <tr>
                                                <td>{{player.username}}</td>
                                                <td>{{player.first_name}} {{player.last_name}}</td>
                                                <td>
                                                    {% if user == game.host %}
                                                        <a href="/home/game/{{game.id}}/kick/{{player.id}}" class="btn btn-sm btn-warning">Kick</a>
                                                        <a href="/home/game/{{game.id}}/ban/{{player.id}}" class="btn btn-sm btn-danger">Ban</a>
                                                    {% endif %}
                                                    <a href="/home/users/{{player.id}}" class="btn btn-sm btn-info">Profile</a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %} <!--Game has started-->
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Player</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Role</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for role in game.roles.all %}
                                        {% if role.player != game.host %}
                                            <tr>
                                                <td>{{role.player.username}}</td>
                                                <td>
                                                    {% if role.isAlive == True %}
                                                        Alive
                                                    {% else %}
                                                        Dead
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if user == game.host or role.isAlive == False %}
                                                        {{role.role_name}}
                                                    {% else %}
                                                        ???
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if user == game.host %}
                                                        <div class="dropdown">
                                                            <button class="btn btn-secondary" type="button" id="role{{role.id}}Control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                ●
                                                            </button>
                                                            <div class="dropdown-menu" aria-labelledby="role{{role.id}}Control">
                                                                <a class="dropdown-item" href="/home/game/{{game.id}}/kick/{{role.player.id}}">Kick</a>
                                                                <a class="dropdown-item" href="/home/game/{{game.id}}/forceKill/{{role.player.id}}">Force Dead</a>
                                                                <a class="dropdown-item" href="/home/users/{{role.player.id}}">Profile</a>
                                                            </div>
                                                        </div>
                                                    {% else %} <!--for players-->
                                                        <a href="/home/users/{{player.id}}" class="btn btn-sm btn-info">Profile</a>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>