<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% load static %}
    <script src="{% static 'js/loadHeader.js' %}?{% now 'U' %}"></script>
    <title>Werewolf</title>
</head>
<body>
    <div class="container">
        <div id="header"></div>
        <div class="row text-center">
            <h1 class="col-md-12">Host A Game</h1>
        </div>
        <div class="row">
            <div class="card-deck col-md-12">
                <div class="card col-md-7">
                    <div class="card-header row">
                        <h4>Game Options</h4>
                    </div>
                    <div class="card-body">
                        {% if user == game.host %}
                            <form action="/home/game/{{game.id}}/start" class="form-horizontal" method="post">
                                {% csrf_token %}
                                <div class="form-group row align-items-center">
                                    <label for="max_players" class="control-label col-md-8">Maximum Players</label>
                                    <input type="number" name="max_players" class="form-control col-md-4" value=100 required>
                                </div>
                                <div class="form-group row align-items-center">
                                    <label for="num_werewolves" class="control-label col-md-8"># of Werewolves (including Accursed One)</label>
                                    <input type="number" name="num_werewolves" class="form-control col-md-4" value=2 required>
                                </div>
                                <div class="form-group row align-items-center">
                                    <label for="seer" class="control-label col-md-5">Seer</label>
                                    <input type="checkbox" name="seer" class="form-control col-md-1" checked>
                                    <label for="witch" class="control-label col-md-5">Witch</label>
                                    <input type="checkbox" name="witch" class="form-control col-md-1" checked>
                                </div>
                                <div class="form-group align-items-center row">
                                    <label for="accursed_one" class="control-label col-md-5">Accursed One</label>
                                    <input type="checkbox" name="accursed_one" class="form-control col-md-1" checked>
                                    <label for="cupid" class="control-label col-md-5">Cupid (and lovers)</label>
                                    <input type="checkbox" name="cupid" class="form-control col-md-1" checked>
                                </div>
                                <div class="form-group row align-items-center">
                                    <label for="defender" class="control-label col-md-5">Defender</label>
                                    <input type="checkbox" name="defender" class="form-control col-md-1" checked>
                                    <label for="hunter" class="control-label col-md-5">Hunter</label>
                                    <input type="checkbox" name="hunter" class="form-control col-md-1">
                                </div>
                                <div class="form-group row align-items-center">
                                    <label for="twins" class="control-label col-md-5">Twins</label>
                                    <input type="checkbox" name="twins" class="form-control col-md-1">
                                    <label for="village_idiot" class="control-label col-md-5">Village Idiot</label>
                                    <input type="checkbox" name="village_idiot" class="form-control col-md-1">
                                </div>
                                <div class="form-group row align-items-center">
                                    <label for="wild_child" class="control-label col-md-5">Wild Child (and Role Model)</label>
                                    <input type="checkbox" name="wild_child" class="form-control col-md-1">
                                    <label for="little_child" class="control-label col-md-5">Little Child</label>
                                    <input type="checkbox" name="little_child" class="form-control col-md-1">
                                </div>
                                <div class="form-group row align-items-center">
                                    <label for="rusty_knight" class="control-label col-md-5">Knight with the Rusty Sword</label>
                                    <input type="checkbox" name="rusty_knight" class="form-control col-md-1">
                                    <label for="elder" class="control-label col-md-5">Elder</label>
                                    <input type="checkbox" name="elder" class="form-control col-md-1">
                                </div>
                                <div class="form-group row align-items-center">
                                    <label for="angel" class="control-label col-md-5">Angel</label>
                                    <input type="checkbox" name="angel" class="form-control col-md-1">
                                    <label for="gypsy" class="control-label col-md-5">Gypsy</label>
                                    <input type="checkbox" name="gypsy" class="form-control col-md-1">
                                </div>
                                <div class="form-group row align-items-center">
                                    <label for="allow_spectators" class="control-label col-md-5">Allow Spectators</label>
                                    <input type="checkbox" name="allow_spectators" class="form-control col-md-1" checked>
                                </div>
                                <div class="form-group row align-items-center justify-content-end">
                                    <a href="#" class="btn btn-primary mr-3">Apply Changes</a>
                                    <a href="#" class="btn btn-secondary mr-3">Suggest Values</a>
                                    <button type="submit" class="btn btn-danger">Start Game</button>
                                </div>
                            </form>
                        {% else %}
                        show option values for players 
                        {% endif %}
                    </div>
                </div>
                <div class="card col-md-5">
                    <div class="card-header row">
                        <h4>Connected Players: {{game.players.all|length|add:"-1"}}</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Username</th>
                                    <th scope="col">Full Name</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for player in game.players.all %}
                                    {% if player != game.host %}
                                        <tr>
                                            <td>{{player.username}}</td>
                                            <td>{{player.first_name}} {{player.last_name}}</td>
                                            <td>
                                                {% if user == game.host %}
                                                    <a href="/home/game/{{game.id}}/kick/{{player.id}}" class="btn btn-sm btn-warning">Kick</a>
                                                    <a href="/home/game/{{game.id}}/ban/{{player.id}}" class="btn btn-sm btn-danger">Ban</a>
                                                {% endif %}
                                                <a href="/home/users/{{player.id}}" class="btn btn-sm btn-info">Profile</a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>