<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% load static %}
    <script src="{% static 'js/loadHeader.js' %}?{% now 'U' %}"></script>
    <title>Werewolf</title>
</head>
<body>
    <div class="container">
        <div id="header"></div>
        <div class="row mb-3">
            <div class="card-group col-md-12">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Leaderboard</h3>
                    </div>
                    <div class="card-body">
                        leaderboard table here
                    </div>
                </div>
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Winrate Trends</h3>
                    </div>
                    <div class="card-body">
                        winrate trend graph here
                    </div>
                </div>
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Personal Stats</h3>
                    </div>
                    <div class="card-body">
                        personal stats here
                        <br>
                        blah
                        <br>
                        blah
                        <br>
                        blah
                        <br>
                        blah
                        <br>
                        blah
                        <br>
                        blah
                        <br>
                        blah

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-group col-md-10 offset-md-1">
                <div class="card btn btn-primary" style="transform: rotate(0);"> <!--Transform identifies the place where stretched-link stops-->
                    <div class="card-body justify-content-center d-flex align-items-center">
                        <a href="/home/host" class="stretched-link">Host A Game</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header text-center">
                        <h5>Existing Games</h5>
                    </div>
                    <div class="card-body">
                        <ul>
                            {% for game in games %}
                                {% if game.ended == False %}
                                    <li>ID: {{game.id}} - Hosted by {{game.host.username}}
                                        {% if game.started == False %}
                                            <a href="/home/game/{{game.id}}/join" class="btn btn-sm btn-primary">Join Game</a>
                                        {% endif %}
                                        {% if game.allow_spectators == True %}
                                            <a href="/home/game/{{game.id}}" class="btn btn-sm btn-secondary">Spectate</a>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>