<form class="form-horizontal">
    {% if lover1 in formDict %}
    <div class="form-group row align-items-center">
        <label for="lover1" class="control-label col-md-5">Lover 1</label>
        <select class="form-control col-md-7" name="lover1">
            <option value="1">player1</option>
            <option value="2">player2</option>
        </select>
    </div>
    {% endif %}
    <div class="form-group row align-items-center">
        <label for="lover2" class="control-label col-md-5">Lover 2</label>
        <select class="form-control col-md-7" name="lover2">
            <option value="1">player1</option>
            <option value="2">player2</option>
        </select>
    </div>
</form>